body{
    margin:  0;
    padding: 0;
}

.test {
    color: #ccffff;
}

.header {
    width: 100%;
    heighr: 50px;
    border-bottom: 1px solid #ccffff;
}

.header-title {
    font-size: 25px;
    text-align: center;
}

.message {
    margin: 10%;
    height: 50px;
    border: 1px solid #ccffff;
    sord-wrap: revert;
    text-align: center;
}

.user-info {
    padding: 10px 0;
    background-color: aqua;
}

.user-info-title {
    color: blue;
    text-align: center;
}

.user-info-icon {
    height: 100px;
    text-align: center;
}

.user-info-image {
    width: 100px;
    height: 100px;
    border-radius: 999em;
}

.user-name {
    padding: 15px;
    text-align: center;
}

.q-text {
    margin: 2px;
    text-align: center;
    font-size: 20px;
}

.q-text-warning: {
    margin: 2px;
    text-align: center;
    font-size: 15px;
    color: #e1e1e1;
}

.q-massage{
    padding: 5%;
    margin-top: 10;
    margin-left: 10%;
    margin-right: 10%;
    width: 70%;
    height: 150px;
    border: 3px solid #ccffff;
    border-radius: 15px;
}

.q-help {
    margin: 0px;
    padding: 7px 15%;
    text-align: center;
}

.q-button {
    height: 50px;
    margin: 30px 15%;
    border-radius: 000em;
    border:2px solid #ccffff;
}

.q-button-text {
    margin: 10px;
    width: 100%;
    height: 100px;
}

.footer {
    background-color: cornflowerblue;
    width: 100%;
    height: 100px;
}

.footer-text {
    text-align: center;
    padding: 10px;
}